@page "/categories"
@rendermode InteractiveServer
@using Zlagoda.ViewModels
@using Zlagoda.Components.ItemViews
@using Zlagoda.Components.ItemModifies
@inject CategoriesVM ViewModel

<h3>Категорії</h3>

@if (!string.IsNullOrEmpty(ViewModel.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewModel.ErrorMessage
        <button type="button" class="btn-close" aria-label="Close" @onclick="ViewModel.ClearError"></button>
    </div>
}

<div class="mb-3">
    @if (ViewModel.IsCreating && ViewModel.NewCategory != null)
    {
        <div class="w-100 me-3">
            <CategoryModify Category="@ViewModel.NewCategory" OnSave="@ViewModel.SaveNewCategory" OnCancel="@ViewModel.CancelCreate" />
        </div>
    }
    else
    {
        <button class="btn btn-success" @onclick="ViewModel.ShowCreateNew">Додати категорію</button>
    }
</div>

@if (ViewModel.Categories == null)
{
    <p><em>Завантаження...</em></p>
}
else if (!ViewModel.Categories.Any())
{
    <p><em>Немає категорій</em></p>
}
else
{
    <div class="category-list" style="max-height: 70vh; overflow-y: auto; padding-right: 10px;">
        @foreach (var category in ViewModel.Categories)
        {
            <CategoryView Category="@category" OnSave="ViewModel.EditCategory" OnDelete="ViewModel.DeleteCategory"/>
        }
    </div>
}

@code {
    protected override void OnInitialized()
    {
        ViewModel.LoadCategories();
    }
}
